{%extends 'base.html' %}
<!-- {%import 'macros.html' as macro%} -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> News Highlights from all over the world </title>
        {% endif %}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    </head>
    <body>
        {% block content %}
           
       <h1>News Highlights</h1>
       <ul>
           {% for news_sources in sources %}
                <li><a href="/news/{{news_sources.id}}">{{news_sources.name}}</a></li>
                <li>{{news_sources.description}}</li>
            {% endfor %}
       </ul>
       {% endblock %}
    </body>
</html>  