<!-- {%import 'macros.html' as macro%} -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> News Highlights from all over the world </title>
        {% endif %}
    </head>
    <body>
       <h3>News Names</h3>
       <ul>
           {% for news_sources in sources %}
                <li><a href="/news/{{news_sources.id}}">Show</a></li>
                <li>{{news_sources.name}} </li>
                <li>{{news_sources.description}} </li>
                <li>{{news_sources.category}} </li>
                <li>{{news_sources.language}} </li>

            {% endfor %}
       </ul>
    </body>
</html>  